<div id="<%= dom_id flight %>">
  <p>
    <strong>Name:</strong>
    <%= flight.name %>
  </p>

  <p>
    <strong>Flight Class:</strong>
    <%= flight.flight_class %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= flight.manufacturer %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= flight.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= flight.capacity %>
  </p>

  <p>
    <strong>Passengers:</strong>
    <%= flight.passengers %>
  </p>

  <p>
    <strong>Cost By Baggage Weight:</strong>
    <%= flight.cost_by_baggage_weight %>
  </p>
  
  <p>
    <strong>Cost:</strong>
    <%= flight.cost %>
  </p>
</div>
