<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<table style="width:100%" >
  <thead>
      <tr>
        <th>Name&emsp;</th>
        <th>Flight Class&emsp;</th>
        <th>Manufacturer&emsp;</th>
        <th>Source&emsp;</th>
        <th>Destination&emsp;</th>
        <th>Passengers&emsp;</th>
        <th>Capacity&emsp;</th>
        <th>Status&emsp;</th>
        <th>Cost by Baggage Weight&emsp;</th>

        <th>Cost&emsp;</th>
        <th colspan="9"></th>
      </tr>
    </thead>

  <tbody>  
    <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td style="text-align:center"><%= flight.name %></td>
        <td style="text-align:center"><%= flight.flight_class %></td>
        <td style="text-align:center"><%= flight.manufacturer %></td>
        <td style="text-align:center"><%= flight.source %></td>
        <td style="text-align:center"><%= flight.destination %></td>
        <td style="text-align:center"><%= flight.passengers %></td>
        <td style="text-align:center"><%= flight.capacity %></td>
        <td style="text-align:center"><%= flight.passengers < flight.capacity ? "Available" : "Complete" %></td>
        <td style="text-align:center"><%= flight.cost_by_baggage_weight %></td>
        <td style="text-align:center"><%= flight.cost %></td>
        <td> <%= link_to "Show Flight", flight %> </td>
        <%if current_user.admin %>
          <td> <%= link_to "Edit Flight", edit_flight_path(flight) %> </td>
          <td> <%= button_to "Destroy Flight", flight_path(flight), method: :delete %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<%if current_user.admin %>
  <%= link_to "New Flight", new_flight_path %>
<% end %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>




