<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<div id="flights">
  <% @flights.each do |flight| %>
    <p>
      <%= flight.name %>
      <%= link_to "Show this flight", flight %>
    </p>
  <% end %>
</div>

<div>
  <% if @current_user.admin %>
    <%= link_to "New Flight", new_flight_path %>
  <% end %>
</div>

<div>
  <%= link_to "Back to Home",  root_url %>
</div>