<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<table style="width:100%" >
  <thead>
      <tr>
        <th>Name&emsp;</th>
        <th>Flight Class&emsp;</th>
        <th>Manufacturer&emsp;</th>
        <th>Source&emsp;</th>
        <th>Destination&emsp;</th>
        <th>Capacity&emsp;</th>
        <th>Passengers&emsp;</th>
        <th>Cost&emsp;</th>
        <th colspan="8"></th>
      </tr>
    </thead>

  <tbody>  
    <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td style="text-align:center"><%= flight.name %></td>
        <td style="text-align:center"><%= flight.flight_class %></td>
        <td style="text-align:center"><%= flight.manufacturer %></td>
        <td style="text-align:center"><%= flight.source %></td>
        <td style="text-align:center"><%= flight.destination %></td>
        <td style="text-align:center"><%= flight.capacity %></td>
        <td style="text-align:center"><%= flight.status %></td>
        <td style="text-align:center"><%= flight.cost %></td>
        <td>
          <%= render flight %>
            <%= link_to "Show this reservation", flight %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New Flight", new_flight_path %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>




