<p style="color: green"><%= notice %></p>

<%= render @flight %>

<div>
  <%= link_to "Edit Flight", edit_flight_path(@flight) %>
  <br>
  <%= link_to "Back to Flights", flights_path %>
  <br>
  <br>
  <%= button_to "Destroy Flight", @flight, method: :delete %>
</div>
