<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table style="width:100%">
<% if @current_user.admin %>
  Search by user ID/name <input id="search" oninput="search()">
<% end %>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Credit Card</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody id="users">
    <% @users.each do |user| %>
      <tr>
        <td style="text-align:center"><%= user.id %></td>
        <td style="text-align:center"><%= user.name %></td>
        <td style="text-align:center"><%= user.email %></td>
        <td style="text-align:center"><%= user.mobile %></td>
        <td style="text-align:center"><%= user.address %></td>
        <td style="text-align:center"><%= user.credit_card %></td>
        <td><%= link_to 'Show User', user %></td>
        <td><%= link_to 'Edit User', edit_user_path(user) %></td>
        <%if !user.admin %>
          <td> <%= button_to 'Destroy User', user_path(user), method: :delete %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New User", new_user_path %>
<br>
<%= link_to "Back to Home", root_url %>

<script>

function search() {
  var filter = document.getElementById("search").value.trim().toLowerCase();
  var users = document.getElementById("users");
  for (var i = 0; i < users.rows.length; i++) {
    var user = users.rows[i];
    var id = user.cells[0].innerText.toLowerCase();
    var name = user.cells[1].innerText.toLowerCase();

    if (filter == "" || filter.includes(id) || filter.includes(name) || id.includes(filter) || name.includes(filter)) {
      user.style.display = '';
    } else {
      user.style.display = 'none';
    }
  }
}

</script>