<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flight_id %>
    <%= form.select :flight_id, options_for_select(Flight.all.map {|f| [f.name, f.id]}, form.object.id), {}, onchange: "setMaxReservation()", disabled: form.object.persisted? %>
  </div>

  <% if @current_user.admin %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.select :user_id, options_for_select(User.all.map {|f| [f.name, f.id]}, form.object.id), disabled: form.object.persisted? %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :passengers %>
    <%= form.number_field :passengers, :id => 'passengers', min: 1, max: 0, onchange: "calculateTotalPrice()", oninput: "calculateTotalPrice()" %>
  </div>

  <div class="field">
    <label>Cost</label>
    <input id="cost" readonly="readonly" type="text">
  </div>

  <div class="field">
    <%= form.label :ticket_class, "Ticket Class" %>
    <%= form.select :ticket_class, options_for_select(Reservation.ticket_classes.map {|key, value| [key.titleize, Reservation.ticket_classes.key(value)]}, @reservation.ticket_class) %>
  </div>
 
  <div class="field">
    <%= form.label :amenities %>
    <%= form.select :amenities, options_for_select(Reservation.amenities.map {|key, value| [key.titleize, Reservation.amenities.key(value)]}, @reservation.amenities) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Submit Reservation", id: "submit" %>
  </div>

<% end %>

<script type="text/javascript">
  var submit = document.getElementById("submit");
  var originalSubmitValue = submit.value;

  var costs = {
  <% Flight.all.each do |flight| %>
    '<%= flight.id %>': <%= flight.cost %>,
  <% end %>
  };

  var capacities = {
  <% Flight.all.each do |flight| %>
    '<%= flight.id %>': <%= flight.capacity %> - <%= flight.passengers %>,
  <% end %>
  };

  function getFlightId() {
    return document.getElementById('reservation_flight_id').value;
  }

  function calculateTotalPrice() {
    var price = costs[getFlightId()];
    document.getElementById('cost').value = document.getElementById('passengers').value * price;
  }

  function setMaxReservation() {
    var max = capacities[getFlightId()];

<% if !reservation.flight.nil? %>
    if (getFlightId() == <%= reservation.flight.id %>) {
      max += <%= reservation.passengers.to_i %>;
    }
<% end %>
    
    document.getElementById('passengers').max = max;

    var submit = document.getElementById("submit");
    if (max == 0) {
      submit.value = "Flight is full";
      submit.disabled = true;
    } else {
      submit.value = originalSubmitValue;
      submit.disabled = false;
    }
  }

  calculateTotalPrice();
  setMaxReservation();
</script>