<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <body onload="calculateTotalPrice();">

  <div class="field">
    <%= form.label :flight_id %>
    <%= form.select :flight_id, options_for_select(Flight.all.map {|flight| [flight.name, flight.id]}, form.object.id) %>
  </div>

  <div class="field">
    <% qty = @reservation.passengers %>
    <%= form.label :passengers %>
    <%= form.number_field :passengers, :id => 'passengers', min: 1, max: "getMaxCapacity()", onchange: "calculateTotalPrice()", oninput: "calculateTotalPrice()" %>
  </div>

  <div class="field">
    <label>Cost</label>
    <input id="cost" readonly="readonly" type="text">
  </div>

  <div class="field">
    <%= form.label :ticket_class, "Ticket Class" %>
    <%= form.select :ticket_class, options_for_select(Reservation.ticket_classes.map {|key, value| [key.titleize, Reservation.ticket_classes.key(value)]}, @reservation.ticket_class) %>
  </div>
 
  <div class="field">
    <%= form.label :amenities %>
    <%= form.select :amenities, options_for_select(Reservation.amenities.map {|key, value| [key.titleize, Reservation.amenities.key(value)]}, @reservation.amenities) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Submit Reservation" %>
  </div>

<% end %>

<script type="text/javascript">
  var capacity = {
  <% Flight.all.each do |flight| %>
    '<%= flight.id %>': <%= flight.capacity %>,
  <% end %>
  };

  function getMaxCapacity() {
    document.getElementById('passengers').max = capacity;
  }

  var costs = {
  <% Flight.all.each do |flight| %>
    '<%= flight.id %>': <%= flight.cost %>,
  <% end %>
  };

  function calculateTotalPrice() {
    var price = costs[document.getElementById('reservation_flight_id').value];
    document.getElementById('cost').value = document.getElementById('passengers').value * price;
  }
</script>