<div id="<%= dom_id reservation %>">

<p>
  <strong>Confirmation Number:</strong>
  <%= @reservation.id %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @reservation.cost %>
</p>

<p>
  <strong>Passengers:</strong>
  <%= @reservation.passengers %>
</p>

<p>
  <strong>Ticket Class:</strong>
  <%= @reservation.ticket_class %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @reservation.amenities %>
</p>

</div>
