<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table style="width:100%"> 
  <thead>
  <tr>
    <th>Confirmation Number&emsp;</th>
    <th>Total Cost&emsp;</th>
    <th>Passengers&emsp;</th>
    <th>Ticket Class&emsp;</th>
    <th>Amenities&emsp;</th>
    <th colspan="5"></th>
  </tr>
</thead>

  <tbody>  
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td style="text-align:center"><%= reservation.id %></td>
        <td style="text-align:center"><%= reservation.cost %></td>
        <td style="text-align:center"><%= reservation.passengers %></td>
        <td style="text-align:center"><%= reservation.ticket_class %></td>
        <td style="text-align:center"><%= reservation.amenities %></td>
        <td>
          <%= render reservation %>
            <%= link_to "Show this reservation", reservation %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New reservation", new_reservation_path %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>