<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
      <tr>
        <th>Transaction number</th>
        <th>Quantity</th>
        <th>Total cost</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation %>
      </p>
    <% end %>
  
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservations.confirmation_number %></td>
        <td><%= transaction.number_of_passengers %></td>
        <td><%= transaction.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New reservation", new_reservation_path %>
