<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table style="width:100%"> 
  Search by user ID <input id="search" oninput="search()">

  <thead>
  <tr>
    <th>Confirmation Number&emsp;</th>
    <th>User ID&emsp;</th>
    <th>Flight Name&emsp;</th>
    <th>Total Cost&emsp;</th>
    <th>Passengers&emsp;</th>
    <th>Ticket Class&emsp;</th>
    <th>Amenities&emsp;</th>
    <th colspan="5"></th>
  </tr>
</thead>

  <tbody id="reservations">
    <% @reservations.each do |reservation| %>
      <tr>
        <td style="text-align:center"><%= reservation.id %></td>
        <td style="text-align:center"><%= reservation.user_id %></td>
        <td style="text-align:center"><%= reservation.flight.name %></td>
        <td style="text-align:center"><%= reservation.cost %></td>
        <td style="text-align:center"><%= reservation.passengers %></td>
        <td style="text-align:center"><%= reservation.ticket_class %></td>
        <td style="text-align:center"><%= reservation.amenities %></td>
        <td> <%= link_to "Show Reservation", reservation %> </td>
        <td> <%= link_to "Edit Reservation", edit_reservation_path(reservation) %> </td>
        <td> <%= link_to "See Baggages", reservation_baggages_path(reservation) %> </td>
        <td> <%= button_to 'Destroy Reservation', reservation_path(reservation), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New Reservation", new_reservation_path %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>

<script>

function search() {
  var filter = document.getElementById("search").value.trim().toLowerCase();
  var reservations = document.getElementById("reservations");
  for (var i = 0; i < reservations.rows.length; i++) {
    var reservation = reservations.rows[i];
    var user_id = reservation.cells[1].innerText.toLowerCase();

    if (filter == "" || filter == user_id) {
      reservation.style.display = '';
    } else {
      reservation.style.display = 'none';
    }
  }
}

</script>