<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
      <tr>
        <th>Confirmation Number&emsp;</th>
        <th>Quantity&emsp;</th>
        <th>Total Cost&emsp;</th>
        <th>Ticket Class&emsp;</th>
        <th>Amenities&emsp;</th>
        <th colspan="5"></th>
      </tr>
    </thead>

  <tbody>  
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.cost %></td>
        <td><%= reservation.number_of_passengers %></td>
        <td><%= reservation.ticket_class %></td>
        <td><%= reservation.amenities %></td>
        <td>
          <%= render reservation %>
            <%= link_to "Show this reservation", reservation %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New reservation", new_reservation_path %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>