<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
      <tr>
        <th>Confirmation Number </th>
        <th>Quantity </th>
        <th>Total Cost </th>
        <th>Ticket Class </th>
        <th>Amenities</th>
        <th colspan="5"></th>
      </tr>
    </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation %>
      </p>
    <% end %>
  
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.cost %></td>
        <td><%= reservation.number_of_passengers %></td>
        <td><%= reservation.ticket_class %></td>
        <td><%= reservation.amenities %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New reservation", new_reservation_path %>
</div>
<div>
  <%= link_to "Back to Home",  root_url %>
</div>