<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
      <tr>
        <th>Transaction Number </th>
        <th>Quantity </th>
        <th>Total Cost </th>
        <th>Ticket Class </th>
        <th>Amenities</th>
        <th colspan="5"></th>
      </tr>
    </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation %>
      </p>
    <% end %>
  
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservations.confirmation_number %></td>
        <td><%= reservations.cost %></td>
        <td><%= reservations.number_of_passengers %></td>
        <td><%= reservations.ticket_class %></td>
        <td><%= reservations.amenities %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New reservation", new_reservation_path %>
<%= link_to "Back to Home",  root_url %>