<p id="notice"><%= notice %></p>

<%= render @reservation %>

<div>
  <%= link_to "Edit Reservation", edit_reservation_path(@reservation) %> 
  <br>
  <%= link_to "Back to Reservations", reservations_path %>
  <br>
  <br>
  <%= button_to "Destroy Reservation", @flight, method: :delete %>
</div>
