<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation number:</strong>
  <%= @reservation.id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reservation.number_of_passengers %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @reservation.cost %>
</p>

<%= link_to "Edit this reservation", edit_reservation_path(@reservation) %> |
<%= link_to "Back to reservations", reservations_path %>


