<div id="<%= dom_id baggage %>">
  <p>
    <strong>Reservation Confirmation Number:</strong>
    <%= baggage.reservation.id %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= baggage.reservation.user_id %>
  </p>
  
  <p>
    <strong>Flight Name:</strong>
    <%= baggage.reservation.flight.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= baggage.weight %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= baggage.cost %>
  </p>

</div>
