<p style="color: green"><%= notice %></p>

<h1>Baggages</h1>

<table style="width:100%" >
  <thead>
      <tr>
        <th>Reservation Confirmation Number&emsp;</th>
        <th>User ID&emsp;</th>
        <th>Flight Number&emsp;</th>
        <th>Baggage Weight&emsp;</th>
        <th>Cost&emsp;</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>  
    <tbody>
    <% @baggages.each do |baggage| %>
      <tr>
        <td style="text-align:center"><%= baggage.reservation.id %></td>
        <td style="text-align:center"><%= baggage.reservation.user_id %></td>
        <td style="text-align:center"><%= baggage.reservation.flight.name %></td>
        <td style="text-align:center"><%= baggage.weight %></td>
        <td style="text-align:center"><%= baggage.cost %></td>
        <td> <%= link_to "Show Baggage", baggage %> </td>
        <td> <%= link_to "Edit Baggage", edit_baggage_path(baggage) %> </td>
        <td> <%= button_to "Destroy Baggage", baggage_path(baggage), method: :delete %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Baggage", new_baggage_path %>
<br>
<%= link_to "Back to Home", root_url %>
