<p style="color: green"><%= notice %></p>

<%= render @baggage %>

<div>
  <%= link_to "Edit Baggage", edit_baggage_path(@baggage) %>
  <br>
  <%= link_to "Back to Baggages", baggages_path %>
  <br>
  <br>
  <%= button_to "Destroy Baggage", @baggage, method: :delete %>
</div>
